<div class="container">
  <header>
    <h2>Estoicismo</h2>
    <div class="type">
      <span>Etica</span>
    </div>
  </header>


  <div class="container__info">
    <p class="container__info__description">
      Uma filosofia grega antiga que ensina o desenvolvimento do autocontrole e da fortaleza como meio de
      superar emoções destrutivas.
    </p>
    <div class="container__info__artists">
      <h3>Principais Figuras:</h3>
      <ul>
        <li>Zenão de Cítio</li>
        <li>Zenão de Cítio</li>
        <li>Zenão de Cítio</li>
      </ul>
    </div>
    <blockquote>
      <p>A felicidade do homem consiste em viver de acordo com a natureza.</p>
    </blockquote>
  </div>

</div>
