<div class="container">
  <header>
    <h2>{{ cardInfo.name }}</h2>
    <div class="type">
      <span>{{ getTranslatedType()  }}</span>
    </div>
  </header>

  <div class="container__info">
    <p class="container__info__description">
      {{ cardInfo.description }}
    </p>

    <div class="container__info__artists">
      <h3>Principais Figuras:</h3>
      <ul>
          @for (philosopher of cardInfo.key_figures ; track philosopher) {
            <li>{{ philosopher }}</li>
          }
      </ul>
    </div>

    <blockquote>
      <p>{{ cardInfo.quote }}</p>
    </blockquote>
  </div>
</div>
