header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2.125rem 1.5rem;

  div {
    display: flex;
    gap: 12px;
  }


  a {
    text-decoration: none;
    color: var(--text);
    font-size: 24px;
    font-weight: 800;
  }
}