// Light Mode Colors
$light-theme: (
  background: #ffffff,
  text: #000000,
  muted-text: #6b7280,
  gradient-start: #9333ea,
  gradient-middle: #ec4899,
  gradient-end: #ef4444,
  card-gradient-start: #3b82f6,
  card-gradient-end: #8b5cf6,
  button: #e5e7eb,
  button-hover: #d1d5db,
  badge-active: #3b82f6,
  badge-inactive: transparent,
  input-bg: #ffffff,
  input-text: #000000,
  input-placeholder: #9ca3af,
  button-active: #111827,
  button-active-text: #ffffff
);

// Dark Mode Colors
$dark-theme: (
  background: #111827,
  text: #ffffff,
  muted-text: #d1d5db,
  gradient-start: #9333ea,
  gradient-middle: #ec4899,
  gradient-end: #ef4444,
  card-gradient-start: #3b82f6,
  card-gradient-end: #8b5cf6,
  button: #374151,
  button-hover: #1f2937,
  badge-active: #3b82f6,
  badge-inactive: transparent,
  input-bg: #1f2937,
  input-text: #ffffff,
  input-placeholder: #9ca3af,
  button-active: #ffffff,
  button-active-text: #000
);


$border-radius:15px;
