@import "../../../styles/variables.scss";

.main {
  padding: 2.125rem 1.5rem;
  padding-top: 0;

  &__search {
    margin: 40px 0px;
    margin-top: 20px;
    padding: 30px;
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-middle), var(--gradient-end));
    border-radius: $border-radius;

    &__input {
      background-color: var(--input-bg);
      display: flex;
      border-radius: $border-radius;
      gap: 12px;
      padding: 5px;
      margin: 14px 0;

      input {
        border-radius: 15px;
        padding: 5px 12px;
        width: 100%;
        background-color: transparent;
        border: 0;
        color: var(--input-text);
        outline: 0;

        &:active {
          border: 0;
        }

        &::placeholder {
          color: var(--input-text);
        }
      }
    }

    h3 {
      font-size: 34px;
    }

    p {
      font-size: 16px;
      margin: 18px 0;
    }
  }

  &__filter {
    display: flex;
    align-items: center;
    gap: 12px;

    &__button {
      background-color: transparent;
      border: solid 1px var(--muted-text);
      font-size: 12px;
      color: var(--input-text);
      padding: 5px 12px;
      border-radius: $border-radius;
      cursor: pointer;

      &:hover {
        color: var(--button-active-text);
        background-color: var(--button-active);
      }
    }

    button.main__filter__active {
      color: var(--button-active-text);
      background-color: var(--button-active);
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 24px;
    width: 100%;

    @media screen and (max-width: 1056px) {
      gap: 12px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
}