/* You can add global styles to this file, and also import other style files */
@import "./styles/reset.scss";
@import "./styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background-color: #{map-get($light-theme, background)};
  --text-color: #{map-get($light-theme, text)};
  --muted-text: #{map-get($light-theme, muted-text)};
  --gradient-start: #{map-get($light-theme, gradient-start)};
  --gradient-middle: #{map-get($light-theme, gradient-middle)};
  --gradient-end: #{map-get($light-theme, gradient-end)};
  --card-gradient-start: #{map-get($light-theme, card-gradient-start)};
  --card-gradient-end: #{map-get($light-theme, card-gradient-end)};
  --button: #{map-get($light-theme, button)};
  --button-hover: #{map-get($light-theme, button-hover)};
  --badge-active: #{map-get($light-theme, badge-active)};
  --badge-inactive: #{map-get($light-theme, badge-inactive)};
  --input-bg: #{map-get($light-theme, input-bg)};
  --input-text: #{map-get($light-theme, input-text)};
  --input-placeholder: #{map-get($light-theme, input-placeholder)};
  --button-active: #{map-get($light-theme, button-active)};
  --button-active-text: #{map-get($light-theme,button-active-text)};
  --bg-unique-card: #{map-get($light-theme, bg-unique-card)};
  --reverse-color: #{map-get($light-theme,  reverse-color)};
}

.dark-theme {
  --background-color: #{map-get($dark-theme, background)};
  --text-color: #{map-get($dark-theme, text)};
  --muted-text: #{map-get($dark-theme, muted-text)};
  --gradient-start: #{map-get($dark-theme, gradient-start)};
  --gradient-middle: #{map-get($dark-theme, gradient-middle)};
  --gradient-end: #{map-get($dark-theme, gradient-end)};
  --card-gradient-start: #{map-get($dark-theme, card-gradient-start)};
  --card-gradient-end: #{map-get($dark-theme, card-gradient-end)};
  --button: #{map-get($dark-theme, button)};
  --button-hover: #{map-get($dark-theme, button-hover)};
  --badge-active: #{map-get($dark-theme, badge-active)};
  --badge-inactive: #{map-get($dark-theme, badge-inactive)};
  --input-bg: #{map-get($dark-theme, input-bg)};
  --input-text: #{map-get($dark-theme, input-text)};
  --input-placeholder: #{map-get($dark-theme, input-placeholder)};
  --button-active: #{map-get($dark-theme, button-active)};
  --button-active-text: #{map-get($dark-theme, button-active-text)};
  --bg-unique-card: #{map-get($dark-theme, bg-unique-card)};
  --reverse-color:#{map-get($dark-theme,  reverse-color)}
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;

  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: var(--background);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--reverse-color);

  border-radius: 20px;

  border: 1px solid #ccc;
}

.btn-header {
  background-color: var(--button);
  color: var(--text-color);
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;

  img {
    width: 16px;
    height: 16px;
  }

  &:hover {
    background-color: var(--button-hover);
  }
}